{% extends "layout.twig" %}

{% block title %}{{ category.name }} - {{ store.name }}{% endblock %}

{% block main_content %}
<h1>{{ category.name }}</h1>
<p>{{ category.description }}</p>
<ul class="product-grid">
  {% for product in products %}
    <li>{{ product.name }}</li>
  {% endfor %}
</ul>
{% endblock %}
