<header class="sticky-nav">
  <nav>
    <ul>
      <li><a href="#faq">{{ locals.faq }}</a></li>
      <li><a href="#how-it-works">{{ locals.how_it_works }}</a></li>
      <li><a href="#features">{{ locals.features }}</a></li>
      <li><a href="#testimonials">{{ locals.testimonials }}</a></li>
      <li><a class="button" href="#">{{ locals.order_now }}</a></li>
      <li><button id="theme-toggle" class="button">🌓</button></li>
    </ul>
  </nav>
</header>
