{% extends "layout.twig" %}

{% block title %}{{ locals.cart }} - {{ store.name }}{% endblock %}

{% block main_content %}
<h1>{{ locals.cart }}</h1>
<ul>
  {% for item in cart.items %}
    <li>{{ item.product.name }} x {{ item.quantity }}</li>
  {% endfor %}
</ul>
<p>{{ locals.total }}: {{ cart.total_price }}</p>
{% endblock %}
